* {
  margin: 0;
  padding: 0;
  font-family: 'Poppins', sans-serif;
  box-sizing: border-box;
}

.container {
  width: 100%;
  min-height: 100vh;
  background: linear-gradient(135deg, #4203a9, #90bafc);
  color: #fff;
  padding: 10px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.calculator {
  width: 100%;
  max-width: 600px;
  margin: 0 auto;
  text-align: center;
  background: rgba(0, 0, 0, 0.7);
  padding: 20px;
  border-radius: 10px;
  box-shadow: 0 0 15px rgba(0, 0, 0, 0.5);
}

.calculator h4 {
  font-size: 40px;
  margin-bottom: 20px;
}

.calculator h4 span {
  color: #ffff76;
}

.input-box {
  margin: 20px 0;
  padding: 20px;
  border-radius: 10px;
  background: rgba(255, 255, 255, 0.2);
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.input-box input {
  flex: 1;
  margin-right: 20px;
  padding: 14px 20px;
  border: 0;
  outline: 0;
  font-size: 18px;
  border-radius: 5px;
  position: relative;
  color: #333;
}

.input-box button {
  background: #ffff76;
  padding: 14px 20px;
  border: 0;
  outline: 0;
  font-size: 18px;
  border-radius: 5px;
  color: #333;
  cursor: pointer;
  transition: background-color 0.3s ease;
}

.input-box button:hover {
  background-color: #ffd700;
}

#result {
  font-size: 24px;
  margin-top: 20px;
  color: #fff;
}

#result span {
  color: #ffff76;
  font-weight: bold;
}
